/* Sensores */
.Sensores {
    display: flex;
    width: 100%;
    background-color: #161616;
    flex-direction: column;
}

.Sensores h3 {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 4rem;
    color: white;
}

.Sensores .Secciones {
    display: flex;
    flex-direction: row;
}

/* Seccion */
.Seccion {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 1rem;
    margin: 1.5rem;
}

.Seccion h4 {
    font-size: 3rem;
    color: white;
    margin: .5rem;
    margin-left: 1.5rem;
}

.Seccion .SeccionSensores {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

/* Sensor */
.Sensor {
    background-color: #404040;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1.5rem;
}

.Sensor img {
    width: 10rem;
    height: 10rem;
    background-color: black;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.Sensor h5,
.Sensor div {
    width: 100%;
}

.Sensor h5 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.Sensor p {
    margin-top: .5rem;
    font-size: 1rem;
    margin-bottom: .2rem;
}

.SensorUbicacion {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}